<!DOCTYPE html>
<html>
    <head>
        <title>Data</title>
    </head>
    <body>
        <p>Fullname: <%= fullName %></p>
        <p>Profile: <%= profile %></p>
        <p>Avg mark: <%= mark %></p>
    </body>
</html>