<!DOCTYPE html>
<html>
    <head>
        <title>json data</title>
    </head>
    <body>
        <p>Fullname: <%= fullname %></p>
        <p>Profile: <%= profile %></p>
        <p>Avg mark: <%= mark %></p>
    </body>
</html>