header, body{
    background-color: #6A2E2E;
    font-family: Cursive;
}
h1{
    text-align: center;
    color: #FFCF68;
}
#mainImg{
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
    border-radius: 30px;
    transform: rotate(5deg);
    box-shadow: 8px 8px 3px #361818;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 1%;
    grid-template-columns: repeat(auto-fill, Xpx);
  }
.grid-item{

}

#FirstColumn{
    color: #EFF6A5;
    text-align: center;
}
.FirstColumnImg{
    width: 90%;
    border-radius: 20px;
    box-shadow: 5px 5px 2px #361818;
}
.pquote {
    float: right;
    width: 50%;
    color: #FFCF68;
    font-size:xx-large;
    font-weight: bold;
}
blockquote {
    margin: 0; 
}
.articleImg{
    float: left;
    width: 50%;
    padding: 3%;
    font-weight: bold;
    border-radius: 20px;
}
